<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.desking.model.internal.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Model"
            class="org.desking.model.internal.app.Perspective"
            id="org.desking.model.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.desking.model.internal.app.views.Navigator"
            id="org.desking.model.views.Navigator"
            name="Navigator"
            restorable="true">
      </view>
      <view
            class="org.desking.model.internal.app.views.ProductList"
            id="org.desking.model.views.ProductList"
            name="ProductList"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.desking.model.perspective">
         <view
               id="org.desking.model.views.Navigator"
               minimized="false"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.desking.model.views.ProductList"
               minimized="false"
               ratio="0.3f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.desking.model.internal.app.editors.ProductEditor"
            default="false"
            id="org.desking.model.editors.ProductEditor"
            name="Product">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="&amp;File">
         </menu>
         <menu
               id="view"
               label="&amp;View">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.showViewMenu"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="org.eclipse.ui.newWizard"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.desking.model.toolbar1">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.desking.model.internal.app.wizards.ProductCategoryNewWizard"
            id="org.desking.model.wizards.ProductCategory"
            name="name">
      </wizard>
   </extension>

</plugin>
